
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>[UH] Umer Hassam</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <link rel="stylesheet" href="stylesheets/styles.css" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Anton|Oswald|Open+Sans+Condensed:300|Pacifico|Source+Code+Pro|Nanum+Gothic|Lobster|Varela+Round|Montserrat" rel="stylesheet">
<!--  <link href="prism.css" rel="stylesheet" /> -->
  
  <style>
  body {
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
	float : right;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover {
    color: #f1f1f1;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  </style>
  
  </head>
  <body>
  <div class="header_container header_color">
	  <div class="header_col header_icon">
	  	<span>[<span style="font-family: 'Anton', sans-serif;">UH</span>]</span> <span style="display:none">Umer Hassam</span>
	  </div>
	  <div class="header_col header_menu">
	  	
		<ul class="header_menu_ul">
			<li class="header_menu_li header_menu_li_selected"> [ Home ] </li>
			<li class="header_menu_li"> <a href="#">  Portfolio </a> </li>
			<li class="header_menu_li"> <a href="#">  Developers Blog </a> </li>
			<li class="header_menu_li login_item"> 
			<% if user_signed_in? %>
			    
				| <%= link_to('Projects', projects_path)  %>
				| <span style="cursor:pointer" onclick="openNav()">&#9776; open</span>
				|
			    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
			<% else %>
			    <%= link_to('Login', new_user_session_path)  %>
			<% end %>
			</li>
		</ul>
		<div style="clear:both"></div>
	  </div>
	  
	  <div class="clr"> </div>
  </div>
  <!--<div>
	  <div class="body_container_outer header_color">
		  <div class="body_banner_container">
		  	<div class="body_banner_col_desc">
				<h1>Hi, I'm a Full-Stack Developer.</h1>
				<p> What is a Full-Stack Developer you ask... well a FullStack developer is someone who can develop the front-end the back-end and the database models all by himself. </p>
			</div>
		  	<div class="body_banner_col_img"><img src="/images/kaka.png" /></div>
			<div class="clr"></div>
		  </div>
	  </div>
  </div>-->
  <div class="body_container_outer header_color">
	  <div class="body_banner_container">
	  	<div class="body_banner_col_desc">
			<h1>Hi, I'm a Full-Stack Developer.</h1>
			<p> What is a Full-Stack Developer you ask... well a FullStack developer is someone who can develop the front-end the back-end and the database models all by himself. </p>
		</div>
	  	<div class="body_banner_col_img"><img src="/images/kaka.png" /></div>
		<div class="clr"></div>
	  </div>
  </div>
  <div>
  	<svg width="100%" viewBox="0 0 1000 29" version="1.1" preserveAspectRatio="none" class="svg_top header_color">
		<defs></defs> 
	  		<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" style =" backround-color:#aaa">
				<g id="FooterWave" transform="translate(0.000000, -424.000000)" fill="#fAfAfA">
					<path d="M1024,
					452.25271 C1024,
			  		452.25271 1024,
			  	  	452.252711 1024,
			 	   	431 C978.405999,
					427.397902 869.678254,
			 	   	419.256709 671,
					428 C510.632812,
					435.114797 388.21875,
			  		437.373804 266.320313,
			  		437.373804 C144.421875,
			  		437.373805 0,
			  		428.557398 0,
			  		428.557398 L0,
			  		453 L1024,
			  		453 Z" id="footerBlueTop">
			  		</path>
		  		</g>
	  		</g> 
  		</svg>
	</div>
	<div class="body_container_odd">
		<h1> Platforms I've Developed On </h1>
		<p> Over the course of my career I have had the privelage of working with many national and international companies.</p>
		<div class="platform_items_holder">
			<div class="platform_item">
				<div class="heading"> <i class="material-icons">computer</i> <h1> Web Development </h1> </div>
				<p> It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. </p>
				
				<div class="platform_framework_item_icons">
					<div class="platform_framework_item_icons_holder">
						<ul>
							<li><img src="/images/rails.png"></li>
							<li><img src="/images/php.png"></li>
							<li><img src="/images/wp.png"></li>
						</ul>
					</div>
				</div>
				
			</div>
			<div class="platform_item">
				<div class="heading"> <i class="material-icons">mobile_friendly</i> <h1> Mobile Apps Development </h1> </div>
				<p> It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. </p>
				
				<div class="platform_framework_item_icons">
					<div class="platform_framework_item_icons_holder">
						<ul>
							<li><img src="/images/android.png"></li>
							<li><img src="/images/ios.png"></li>
						</ul>
					</div>
				</div>
				
			</div>
			<div class="platform_item">
				<div class="heading"> <i class="material-icons">videogame_asset</i> <h1> Games Development </h1> </div>
				<p> It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. </p>
				<div class="platform_framework_item_icons">
					<div class="platform_framework_item_icons_holder">
						<ul>
							<li><img src="/images/unity.png"></li>
						</ul>
					</div>
				</div>
				<div class="clr"></div>	
			</div>
			<div class="clr"></div>
		</div>
	</div>
	<div class="body_container_even">
		<div class="floating_title">
			Companies I have worked with
		</div>
		<!--
		<h1> Companies I have worked with </h1>
		<p> Over the course of my career I have had the privelage of working with many national and international companies.</p>
			-->
		<div class="companies_logos_container">
			<div class="companies_logos_holder">
				<div class="companies_logo_item">
					<img src="/images/1280px-Upwork-logo.png" />
				</div>
				<div class="companies_logo_item">
					<img src="/images/DuLogo.png" />
				</div>
				<div class="companies_logo_item">
					<img src="/images/1280px-Upwork-logo.png" />
				</div>
				<div class="companies_logo_item">
					<img src="/images/1280px-Upwork-logo.png" />
				</div>
				<div class="companies_logo_item">
					<img src="/images/1280px-Upwork-logo.png" />
				</div>
				<div class="companies_logo_item">
					<img src="/images/1280px-Upwork-logo.png" />
				</div>
				<div class="companies_logo_item">
					<img src="/images/1280px-Upwork-logo.png" />
				</div>
				<div class="clr"></div>
			</div>
		</div>
	</div>
	
	
	<!-- LANGUAGES I LOVE -->
	
	<div class="body_container_odd drop_shadow">
		<div class="code_div_holder">
			<h1> Languages I Love </h1>
			<p> Over the course of my career I have had the privelage of working with many national and international companies.</p>
			<div class="code_ide_holder">
				<div class="language_container">
					<ul>
						<li class="code_tab_link" id="code_html_link"> <a href="javascript:switchLanguageTab('code_html_link', 'code_html')" > HTML </a></li>
						<li class="code_tab_link" id="code_css_link"> <a href="javascript:switchLanguageTab('code_css_link', 'code_css')"> CSS </a></li>
						<li class="code_tab_link" id="code_js_link"> <a href="javascript:switchLanguageTab('code_js_link', 'code_js')"> Javascript </a></li>
						<li class="code_tab_link" id="code_objc_link"> <a href="javascript:switchLanguageTab('code_objc_link', 'code_objc')"> Objective-C </a></li>
						<li class="code_tab_link isActive" id="code_swift_link"> <a href="javascript:switchLanguageTab('code_swift_link', 'code_swift')"> Swift </a></li>
						<li class="code_tab_link" id="code_ruby_link"> <a href="javascript:switchLanguageTab('code_ruby_link', 'code_ruby')"> Ruby </a></li>
						<li class="code_tab_link" id="code_java_link"> <a href="javascript:switchLanguageTab('code_java_link', 'code_java')"> Java </a></li>
					</ul>
				</div>
				<div class="code_container">
					
					<!-- HTML -->
					<div class="code_tab code_tab_invisible" id="code_html">

<pre style='color:#000000;background:#ffffff;'>&lt;!DOCTYPE <span style='color:#800000; font-weight:bold; '>html</span><span style='color:#808030; '>></span>
&lt;<span style='color:#800000; font-weight:bold; '>html</span><span style='color:#808030; '>></span>
  &lt;<span style='color:#800000; font-weight:bold; '>head</span><span style='color:#808030; '>></span>
    &lt;<span style='color:#800000; font-weight:bold; '>meta</span> charset="UTF-8"<span style='color:#808030; '>></span>
	&lt;<span style='color:#800000; font-weight:bold; '>meta</span> name="viewport" content="width=device-width<span style='color:#808030; '>,</span>initial-scale=1"<span style='color:#808030; '>></span>
	&lt;<span style='color:#800000; font-weight:bold; '>title</span><span style='color:#808030; '>></span>Hello World!&lt;/<span style='color:#800000; font-weight:bold; '>title</span><span style='color:#808030; '>></span>
	&lt;<span style='color:#800000; font-weight:bold; '>link</span> rel="stylesheet" href="//fonts.googleapis<span style='color:#808030; '>.</span>com/css?family=<span style='color:#800000; '>font1</span><span style='color:#800080; '>|</span><span style='color:#800000; '>font2</span><span style='color:#800080; '>|</span>etc" type="<span style='color:#800000; font-weight:bold; '>text</span>/css"<span style='color:#808030; '>></span>
	&lt;<span style='color:#800000; font-weight:bold; '>link</span> rel="stylesheet" href="stylesheet<span style='color:#808030; '>.</span>css" type="<span style='color:#800000; font-weight:bold; '>text</span>/css"<span style='color:#808030; '>></span>
  &lt;/<span style='color:#800000; font-weight:bold; '>head</span><span style='color:#808030; '>></span>
  &lt;<span style='color:#800000; font-weight:bold; '>body</span><span style='color:#808030; '>></span>
    &lt;<span style='color:#800000; font-weight:bold; '>div</span> class="welcome"<span style='color:#808030; '>></span>&lt;<span style='color:#800000; font-weight:bold; '>span</span><span style='color:#808030; '>></span> Hello&lt;/<span style='color:#800000; font-weight:bold; '>span</span><span style='color:#808030; '>></span>&lt;/<span style='color:#800000; font-weight:bold; '>div</span><span style='color:#808030; '>></span>
  &lt;/<span style='color:#800000; font-weight:bold; '>body</span><span style='color:#808030; '>></span>
&lt;/<span style='color:#800000; font-weight:bold; '>html</span><span style='color:#808030; '>></span>
</pre>
					</div>
					
					<!-- CSS -->
					<div class="code_tab code_tab_invisible" id="code_css">
<pre style='color:#000000;background:#ffffff;'><span style='color:#800080; '>@</span><span style='color:#004a43; '>media</span> <span style='color:#004a43; '>only screen and (min-width: 1145px) </span><span style='color:#800080; '>{</span>
    <span style='color:#696969; '>/* For desktop: */</span>
  <span style='color:#808030; '>.</span>welcome<span style='color:#800080; '>:</span><span style='color:#800000; font-weight:bold; '>after</span> <span style='color:#800080; '>{</span>
    <span style='color:#bb7977; font-weight:bold; '>content</span><span style='color:#808030; '>:</span> <span style='color:#800000; '>'</span><span style='color:#0000e6; '> World!</span><span style='color:#800000; '>'</span><span style='color:#800080; '>;</span>
  <span style='color:#800080; '>}</span>
<span style='color:#800080; '>}</span>
<span style='color:#800080; '>@</span><span style='color:#004a43; '>media</span> <span style='color:#004a43; '>only screen and (max-width: 1144px) </span><span style='color:#800080; '>{</span>
  <span style='color:#696969; '>/* For tablets: */</span>
  <span style='color:#808030; '>.</span>welcome<span style='color:#800080; '>:</span><span style='color:#800000; font-weight:bold; '>after</span> <span style='color:#800080; '>{</span>
    <span style='color:#bb7977; font-weight:bold; '>content</span><span style='color:#808030; '>:</span> <span style='color:#800000; '>'</span><span style='color:#0000e6; '> Tablet!</span><span style='color:#800000; '>'</span><span style='color:#800080; '>;</span>
  <span style='color:#800080; '>}</span>
<span style='color:#800080; '>}</span>
<span style='color:#800080; '>@</span><span style='color:#004a43; '>media</span> <span style='color:#004a43; '>only screen and (max-width: 420px) </span><span style='color:#800080; '>{</span>
  <span style='color:#696969; '>/* For tablets: */</span>
  <span style='color:#808030; '>.</span>welcome<span style='color:#800080; '>:</span><span style='color:#800000; font-weight:bold; '>after</span> <span style='color:#800080; '>{</span>
    <span style='color:#bb7977; font-weight:bold; '>content</span><span style='color:#808030; '>:</span> <span style='color:#800000; '>'</span><span style='color:#0000e6; '> Mobile!</span><span style='color:#800000; '>'</span><span style='color:#800080; '>;</span>
  <span style='color:#800080; '>}</span>
<span style='color:#800080; '>}</span>
</pre>
<!--Created using ToHtml.com on 2019-01-03 13:15:34 UTC -->
					</div>
					
					<!-- Javascript -->
					<div class="code_tab code_tab_invisible" id="code_js">
<pre style='color:#000000;background:#ffffff;'>window<span style='color:#808030; '>.</span>onload <span style='color:#808030; '>=</span> <span style='color:#800000; font-weight:bold; '>function</span><span style='color:#808030; '>(</span><span style='color:#808030; '>)</span> <span style='color:#800080; '>{</span>
  window<span style='color:#808030; '>.</span><span style='color:#800000; font-weight:bold; '>setInterval</span><span style='color:#808030; '>(</span>fadeout<span style='color:#808030; '>,</span> <span style='color:#008c00; '>1000</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span> <span style='color:#696969; '>//each second</span>
<span style='color:#800080; '>}</span>

<span style='color:#800000; font-weight:bold; '>var</span> isVisible <span style='color:#808030; '>=</span> <span style='color:#0f4d75; '>true</span>
<span style='color:#800000; font-weight:bold; '>function</span> fadeout<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span> <span style='color:#800080; '>{</span>	
  isVisible <span style='color:#808030; '>=</span> <span style='color:#808030; '>!</span>isVisible
  document<span style='color:#808030; '>.</span>getElementsByClassName<span style='color:#808030; '>(</span><span style='color:#800000; '>'</span><span style='color:#0000e6; '>welcome</span><span style='color:#800000; '>'</span><span style='color:#808030; '>)[0]</span><span style='color:#808030; '>.</span>style<span style='color:#808030; '>.</span>opacity <span style='color:#808030; '>=</span> isVisible <span style='color:#800080; '>?</span> <span style='color:#800000; '>'</span><span style='color:#0000e6; '>0</span><span style='color:#800000; '>'</span> <span style='color:#800080; '>:</span> <span style='color:#800000; '>'</span><span style='color:#0000e6; '>1</span><span style='color:#800000; '>'</span><span style='color:#800080; '>;</span>
<span style='color:#800080; '>}</span>
</pre>
<
					</div>
					
					<!-- Objective-C -->
					<div class="code_tab code_tab_invisible" id="code_objc">
						<p class="code_line1"><i class="ck">@implementation</i> MyCustomAnimation</p>
							<br />
						<p class="code_line1">- (<i class="ck">void</i>)addKeyframeForTime:(<i class="cdt">CGFloat</i>)time shadowOpacity:(<i class="cdt">CGFloat</i>)shadowOpacity {</p>
						<p class="code_line2">  [<i class="ck">self</i> addKeyframeForTime:time value:<i class="cs">@(</i>shadowOpacity<i class="cs">)</i>];</p>
						<p class="code_line1">}</p>
							<br />
						<p class="code_line1">- (<i class="ck">void</i>)animate:(<i class="cdt">CGFloat</i>)time {</p>
						<p class="code_line2">  <i class="ck">if</i> (!<i class="ck">self</i>.<i class="cp">hasKeyframes</i>) <i class="ck">return</i>;</p>
						<p class="code_line2">  <i class="ck">self</i>.<i class="cp">view</i>.<i class="cdt">layer</i>.<i class="cdt">shadowOpacity</i> = (<i class="ck">float</i>)[(<i class="cdt">NSNumber</i> *)[<i class="ck">self</i> <i class="cdt">valueAtTime</i>:time] <i class="cdt">floatValue</i>];</p>
						<p class="code_line1">}</p>
							<br />
						<p class="code_line1"><i class="ck">@end</i></p>
					</div>
					
					<!-- Swift -->
					<div class="code_tab code_tab_visible" id="code_swift">
						<p class="code_line1"><i class="ck">class</i> MyCustomAnimation {</p>
							<br />
						<p class="code_line1">- (<i class="ck">void</i>)addKeyframeForTime:(<i class="cdt">CGFloat</i>)time shadowOpacity:(<i class="cdt">CGFloat</i>)shadowOpacity {</p>
						<p class="code_line2">  [<i class="ck">self</i> addKeyframeForTime:time value:<i class="cs">@(</i>shadowOpacity<i class="cs">)</i>];</p>
						<p class="code_line1">}</p>
							<br />
						<p class="code_line1">- (<i class="ck">void</i>)animate:(<i class="cdt">CGFloat</i>)time {</p>
						<p class="code_line2">  <i class="ck">if</i> (!<i class="ck">self</i>.<i class="cp">hasKeyframes</i>) <i class="ck">return</i>;</p>
						<p class="code_line2">  <i class="ck">self</i>.<i class="cp">view</i>.<i class="cdt">layer</i>.<i class="cdt">shadowOpacity</i> = (<i class="ck">float</i>)[(<i class="cdt">NSNumber</i> *)[<i class="ck">self</i> <i class="cdt">valueAtTime</i>:time] <i class="cdt">floatValue</i>];</p>
						<p class="code_line1">}</p>
							<br />
						<p class="code_line1"><i class="ck">@end</i></p>
					</div>
					
					<!-- Ruby -->
					<div class="code_tab code_tab_invisible" id="code_ruby">
						<p class="code_line1"><i class="ck">class</i> Ruby {</p>
							<br />
						<p class="code_line1">- (<i class="ck">void</i>)addKeyframeForTime:(<i class="cdt">CGFloat</i>)time shadowOpacity:(<i class="cdt">CGFloat</i>)shadowOpacity {</p>
						<p class="code_line2">  [<i class="ck">self</i> addKeyframeForTime:time value:<i class="cs">@(</i>shadowOpacity<i class="cs">)</i>];</p>
						<p class="code_line1">}</p>
							<br />
						<p class="code_line1">- (<i class="ck">void</i>)animate:(<i class="cdt">CGFloat</i>)time {</p>
						<p class="code_line2">  <i class="ck">if</i> (!<i class="ck">self</i>.<i class="cp">hasKeyframes</i>) <i class="ck">return</i>;</p>
						<p class="code_line2">  <i class="ck">self</i>.<i class="cp">view</i>.<i class="cdt">layer</i>.<i class="cdt">shadowOpacity</i> = (<i class="ck">float</i>)[(<i class="cdt">NSNumber</i> *)[<i class="ck">self</i> <i class="cdt">valueAtTime</i>:time] <i class="cdt">floatValue</i>];</p>
						<p class="code_line1">}</p>
							<br />
						<p class="code_line1"><i class="ck">@end</i></p>
					</div>
					
					<!-- JAVA -->
					<div class="code_tab code_tab_invisible" id="code_java">
						
<pre style='color:#000000;background:#ffffff;'><span style='color:#696969; '>// A Hello World! program in C#.</span>
using System<span style='color:#808030; '>;</span>
namespace HelloWorld
<span style='color:#800080; '>{</span>
    <span style='color:#800000; font-weight:bold; '>class</span> Hello 
    <span style='color:#800080; '>{</span>
        <span style='color:#800000; font-weight:bold; '>static</span> <span style='color:#bb7977; '>void</span> Main<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span> 
        <span style='color:#800080; '>{</span>
            <span style='color:#bb7977; font-weight:bold; '>Console</span><span style='color:#808030; '>.</span>WriteLine<span style='color:#808030; '>(</span><span style='color:#0000e6; '>"Hello World!"</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>

            <span style='color:#696969; '>// Keep the console window open in debug mode.</span>
            <span style='color:#bb7977; font-weight:bold; '>Console</span><span style='color:#808030; '>.</span>WriteLine<span style='color:#808030; '>(</span><span style='color:#0000e6; '>"Press any key to exit."</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
            <span style='color:#bb7977; font-weight:bold; '>Console</span><span style='color:#808030; '>.</span>ReadKey<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
        <span style='color:#800080; '>}</span>
    <span style='color:#800080; '>}</span>
<span style='color:#800080; '>}</span>
</pre>

					</div>
				</div>
			</div>
			<div class="code_description">
				<div class="code_tab code_tab_invisible" id="code_html_desc">
					<h1>HTML</h1>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
				</div>
				<div class="code_tab code_tab_invisible" id="code_css_desc">
					<h1>CSS</h1>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
				</div>
				<div class="code_tab code_tab_invisible" id="code_js_desc">
					<h1>Javascript</h1>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
				</div>
				<div class="code_tab code_tab_invisible" id="code_objc_desc">
					<h1>Objective-C</h1>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
				</div>
				<div class="code_tab code_tab_visible" id="code_swift_desc">
					<h1>Swift</h1>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
				</div>
				<div class="code_tab code_tab_invisible" id="code_ruby_desc">
					<h1>Ruby</h1>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
				</div>
				<div class="code_tab code_tab_invisible" id="code_java_desc">
					<h1>Java</h1>
					<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
				</div>
			</div>
			<div class="clr"></div>
		</div>
	</div>
	
	
	<!-- PROJECTS I HAVE DEVELOPED -->
	
	<div class="body_container_even">
		<div class="floating_title">
			Projects I have developed
		</div>
		<div class="companies_logos_container">
			<div class="companies_logos_holder">
				<div class="project_logo_item">
					<img src="/images/logo-subway-surfers.png" />
				</div>
				<div class="project_logo_item">
					<img src="/images/logo-subway-surfers.png" />
				</div>
				<div class="project_logo_item">
					<img src="/images/logo-subway-surfers.png" />
				</div>
				<div class="project_logo_item">
					<img src="/images/logo-subway-surfers.png" />
				</div>
				<div class="project_logo_item">
					<img src="/images/logo-subway-surfers.png" />
				</div>
				<div class="project_logo_item">
					<img src="/images/logo-subway-surfers.png" />
				</div>
				<div class="project_logo_item">
					<img src="/images/logo-subway-surfers.png" />
				</div>
				<div class="clr"></div>
			</div>
		</div>
	</div>
	
	
	<!-- BLOG POSTS -->
	
	<div class="body_container_odd drop_shadow">
		<div class="body_section_blog_posts_holder">
			<div class="body_section_blog_post">
				
				<b> A Quik Look at Swift's most interesting features </b>
				<p> It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. </p>
				<a href="/blog/1">Read more</a>
			
			<div class="clr"></div>
			</div>	
			<div class="body_section_blog_post">
				
				<b> A Quik Look at Swift's most interesting features </b>
				<p> It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. </p>
				<a href="/blog/1">Read more</a>
			
			<div class="clr"></div>	
			</div>	
			<div class="body_section_blog_post">
				
				<b> A Quik Look at Swift's most interesting features </b>
				<p> It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. </p>
				<a href="/blog/1">Read more</a>
				
				<div class="clr"></div>
			</div>
		</div>
	</div>
	
	
	<!-- FOOTER-->
	<div class="footer">
	<svg width="100%" viewBox="0 0 1000 29" version="1.1" preserveAspectRatio="none" style="display:block"> <defs></defs> <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="FooterWave" transform="translate(0.000000, -424.000000)" fill="#E9E9F9"> <path d="M1024,452.25271 C1024,452.25271 1024,452.252711 1024,431 C978.405999,427.397902 869.678254,419.256709 671,428 C510.632812,435.114797 388.21875,437.373804 266.320313,437.373804 C144.421875,437.373805 0,428.557398 0,428.557398 L0,4523 L1024,453 Z" id="footerBlueTop"></path> </g> </g> </svg>
	<div class="footer_container header_color">
		
		<div class="footer_cols_holder">
		    <div class="footer_col_left">
		    	a
		    </div>
			<div class="footer_col_right">
				<h1>Get In Touch</h1>
				<div class="contact_row">
					<div class="contact_row_icon"><a href="mailto:umer.hassam@gmail.com"><img src="/images/icons8-new-post-26.png" /></a></div>
					<div class="contact_row_details">umer.hassam@gmail.com</div>
					<div class="clr"></div>
				</div>
				<div class="contact_row">
					<div class="contact_row_icon"><img src="/images/icons8-touchscreen-filled-50.png" /></div>
					<div class="contact_row_details">umer.hassam@gmail.com</div>
					<div class="clr"></div>
				</div>
			</div>
			<div class="clr"></div>
		</div>
	</div>
	</div>
	
	
	<div id="mySidenav" class="sidenav">
	  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
	  <a href="#">About</a>
	  <a href="#">Services</a>
	  <a href="#">Clients</a>
	  <a href="#">Contact</a>
	</div>
	
	<script>
	function openNav() {
	  document.getElementById("mySidenav").style.width = "250px";
	}

	function closeNav() {
	  document.getElementById("mySidenav").style.width = "0";
	}
	</script>
  </body>
</html>
